<main>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto">
           <li class="nav-item active">
              <span class="navbar-text">
                Wallet Transaction System
              </span>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-1 order-md-0">
        <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto my-2 order-0 order-md-1 position-relative">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
        <ul class="navbar-nav mr-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="https://cdn0.iconfinder.com/data/icons/commercial-and-business-set-10/512/add_money_1-512.png" alt="Wallet Image">
      <div class="card-body">
        <h5 class="card-title">Add Money To Wallet</h5>
        <p class="card-text">Now, you can add money to your wallet. Use this for transactions</p>
        <a href="/login" class="btn btn-primary">Create Your Wallet</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/nexting-grey/1800/063-wallet-512.png" alt="Debit Balance Image">
      <div class="card-body">
        <h5 class="card-title">Debit Money From Wallet</h5>
        <p class="card-text">You can debit your money from wallet any time you like.</p>
        <a href="/login" class="btn btn-primary">Create Your Wallet</a>
      </div>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="https://cdn.iconscout.com/icon/free/png-512/check-balance-1817288-1538156.png" alt="Check Balance Image">
      <div class="card-body">
        <h5 class="card-title">Check Your Balance In Wallet</h5>
        <p class="card-text">You can now instantly check your wallet balance.</p>
        <a href="/login" class="btn btn-primary">Create Your Wallet</a>
      </div>
    </div>
  </div>
</div>

</main>