<main>
<form action='/debit-amount' method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Account Holder Name</label>
    <input type="text" class="form-control" id="bankname" name="name" aria-describedby="emailHelp" placeholder="Enter Bank Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Bank Account Number To Which Amount Is Transferred</label>
    <input type="text" class="form-control" id="BACNO" name="BankAccountNumber" aria-describedby="emailHelp" placeholder="Enter Bank Account Number">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">IFSC Code</label>
    <input type="text" class="form-control" id="IFSC" name="ISC" placeholder="IFSC">
  </div>
  <div class="form-group">
      <label for="exampleInputEmail1">Enter Amount</label>
       <input type="number" class="form-control" id="amount" name="amount" placeholder="20">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</main>