<main>
<form action='/link-accounts' method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Bank Name</label>
    <input type="text" class="form-control" id="bankname" name="BankName" aria-describedby="emailHelp" placeholder="Enter Bank Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Bank Account Number</label>
    <input type="text" class="form-control" id="BACNO" name="BankAccountNumber" aria-describedby="emailHelp" placeholder="Enter Bank Account Number">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">IFSC code</label>
    <input type="text" class="form-control" id="IFSC" name="ISC" placeholder="IFSC">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</main>