<main>
    <div class="container">     
    <table class="table table-striped">
    <thead>
        <tr>
        <th>Transaction Type</th>
        <th>Account Number</th>
        <th>Amount</th>
      </tr>
    </thead>
       {{#each transactions}}
        <tbody>
            <tr>
                <td>{{status}}</td>
                <td>{{BankAccountNumber}}</td>
                <td>{{amount}}</td>
            </tr>
        </tbody>
    {{/each}}
    </thead>
